.form-container {
  max-width: 636px;
  margin: 0 auto;
}

.input-block {
  min-width: 220px;
}

.form-control {
  min-width: 196px;
}

.title-card {
  font-size: calc(2vw + 9.6px);
}

.openElement {
  display: block !important;
}


